version: '3.8'

services:
  web:
    build: .
    container_name: experiment-game
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - FLASK_ENV=production
